POSTGRES_CONNECTION_URL=postgres://postgres:postgrespassword@postgresdb:5432/postgres
MONGODB_CONNECTION_URL=mongodb://user:password@localhost:27017/address-service
MONGODB_NAME=address-service
# valid types: mongo, postgres
REPOSITORY_TYPE=mongo
SENTRY_URL=
# The URL of our Auth0 Tenant Domain.
# If you're using a Custom Domain, be sure to set this to that value instead.
AUTH0_DOMAIN='https://{yourDomain}/'
# your Auth0 API's Identifier.
AUTH0_AUDIENCE='{yourApiIdentifier}'
LOG_LEVEL=info
API_PORT=7000
