POSTGRES_CONNECTION_URI=postgres://postgres:postgrespassword@localhost:5432/postgres
REPOSITORY_TYPE=postgres
SENTRY_URL=
# The URL of our Auth0 Tenant Domain.
# If you're using a Custom Domain, be sure to set this to that value instead.
AUTH0_DOMAIN='https://{yourDomain}/'
# your Auth0 API's Identifier.
AUTH0_AUDIENCE='{yourApiIdentifier}'
LOG_LEVEL=info
API_PORT=7000
